.container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  height: 100vh;
}

.container,
div {
  margin: 2px;
}

h3 {
  color: white;
  margin-top: 2%;
  font-family: sans-serif;
}
