.mainContainer {
  display: flex;
  flex: 7;
  text-align: center;
  margin: 2px;
}

.mainLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.mainRight {
  display: flex;
  flex-direction: column;
  flex: 3;
}
